<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	
    
	<import resource="spring-security.xml"/>
	
	<!-- binds messages_xx_XX.properties -->

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messages" />
	</bean>
	
	<!-- Get and load the service and persistence xml -->
	<import resource="classpath:service-context.xml"/>
	<import resource="classpath:binding-context.xml"/>

</beans>