<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http pattern="/dashboard" security="none" />
	<http pattern="/static/**" security="none" />
	<http auto-config="true" create-session="stateless">
		<intercept-url pattern="/addComputer" access="ROLE_USER" method="GET"/>
		<intercept-url pattern="/addComputer" access="ROLE_USER" method="POST"/>
		
		<intercept-url pattern="/editComputer" access="ROLE_USER" method="GET"/>
		<intercept-url pattern="/editComputer" access="ROLE_USER" method="POST" />
		
		<intercept-url pattern="/deleteComputer" access="ROLE_USER" method="POST"/>
		
		<intercept-url pattern="/**" access="ROLE_USER" />
		<http-basic />
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="admin" password="5f4dcc3b5aa765d61d8327deb882cf99" authorities="ROLE_USER" />
			</user-service>
			<password-encoder hash="md5"/>
		</authentication-provider>
	</authentication-manager>

</beans:beans>